.amt-sidebar {
  display: flex;
  flex-direction: column;
  width: 180px;
  flex-shrink: 0;
  background: #fafafa;
  border-right: 1px solid #f0f0f0;

  @media (max-width: 640px) {
    position: absolute;
    z-index: 90;
    left: 0;
    top: 0;
    height: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: transform .3s;

    &.active {
      transform: translate3d(0, 0, 0);
    }
  }

  @media (min-width: 1280px) {
    width: 240px;
  }
}

.amt-sidebar nav {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.amt-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
}

.amt-sidebar .nav-header {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
  font-weight: 700;
  color: #444;

  &:first-child {
    margin-top: 0;
  }
}

.amt-sidebar a {
  font-size: 15px;
  display: block;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #777;
}

.amt-sidebar a:hover,
.amt-sidebar a.active {
  background: #f0f0f0;
  color: #333;
}

.amt-sidebar .en {
  font-size: 13px;
}

.sidebar-toggle {
  position: fixed;
  bottom: 15px;
  left: 0;
  display: none;
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 11px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 4em;
  height: 4em;
  padding: 1em;
  transform: translate3d(15px, 0, 0);
  transition: all .3s;

  &.active {
    transform: translate3d(180px, 0, 0);
  }

  @media (max-width: 640px) {
    display: block;
  }
}

.sidebar-toggle:hover,
.sidebar-toggle:focus {
  background: #000;
}

.sidebar-toggle span {
  position: relative;
  display: block;
  margin-top: 0.9em;
}

.sidebar-toggle span,
.sidebar-toggle span:before,
.sidebar-toggle span:after {
  background-color: #fff;
  width: 100%;
  height: .2em;
  transition: all .3s;
}

.sidebar-toggle span:before,
.sidebar-toggle span:after {
  position: absolute;
  top: -.55em;
  content: " ";
}

.sidebar-toggle span:after {
  top: .55em;
}

.sidebar-toggle.active span {
  background: transparent;
}

.sidebar-toggle.active span:before {
  transform: rotate(45deg) translate(.5em, .4em);
}

.sidebar-toggle.active span:after {
  transform: rotate(-45deg) translate(.4em, -.3em);
}

