// Style for Amaze UI Touch Website

// Variables
@import "../../../src/scss/helper/functions";
@import "../../../src/scss/variables";
$assets: "http://s.amazeui.org/";
$banner-bg: #10a0ea;
$bp-md-up: quote('(min-width: 768px)');
$bp-lg-up: quote('(min-width: 1024px)');

// Modules
@import "prism";
@import "prism-line-numbers";
@import "doc-common";
@import "doc-index";
@import "doc-sidebar";
@import "doc-content";
